.downlogo{
    
    display: flex;
    width: 100%;
    height: 8em;
    white-space: 10em;
    border-bottom: 1px solid black;
    padding: 4em;
    
    
    
}

.rights{
    width: 100%;
    display:flex;
    background-color:rgb(237, 233, 230);
    align-items: center;
    justify-content: center;
    
    


}

.princ{
    display: flex;
    flex-direction: column;
    background-color:rgb(237, 233, 230);


}