.product-list{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-left: em;

}

.product1{
    display: flex;
    background-color: yellowgreen;

}

.product2{
    display: flex;

}

.product3{
    display: flex;

}

.product-list-text{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-left: 1.5em;
    margin-bottom: 3em;

}

    